.hero {
  min-height: 50vh;
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 70px;
}

@media (min-width: 768px) {
  .hero {
    min-height: 80vh;
    background-attachment: fixed;
    margin-top: 90px;
  }
}

.hero-content {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  color: white;
  padding: 2rem 1rem;
}

@media (min-width: 768px) {
  .hero-content {
    padding: 4rem 1.5rem;
  }
}

.hero-title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: white;
}

@media (min-width: 768px) {
  .hero-title {
    font-size: 4rem;
    margin-bottom: 1.5rem;
  }
}

.hero-subtitle {
  font-size: 0.8rem;
  margin-bottom: 1rem;
  color: var(--color-text-dark-muted);
}

@media (min-width: 768px) {
  .hero-subtitle {
    font-size: 1.25rem;
    margin-bottom: 2.5rem;
  }
}

.hero-actions {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  flex-wrap: wrap;
}

.btn-lg {
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
}

@media (min-width: 768px) {
  .hero-actions {
    gap: 1rem;
  }
  .btn-lg {
    padding: 1rem 2rem;
    font-size: 1.1rem;
  }
}

.btn-outline.text-white {
  border-color: white;
  color: white;
}

.btn-outline.text-white:hover {
  background-color: white;
  color: var(--color-text-main);
}
